* {
	box-sizing: border-box;
}
.alert {
  padding: 20px;
  background-color: #4dd599;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
.column {
	float: left;
	width: 25%;
	padding: 0 10px;
}
.row {
	margin: 0 -5px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  height: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: #f1f1f1;
  margin: 5px;
}
h4 {
	margin-top: -10px;
}
/*Tabel*/
.tabel {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.tabel td, .tabel th {
  border: 1px solid #ddd;
  padding: 8px;
}
.tabel tr:nth-child(even){background-color: #f2f2f2;}
.tabel tr:hover {background-color: #ddd;}
.tabel th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}